@import "variaveis.scss";
@import "header.scss";
@import "main.scss";
@import "footer.scss";
@import "@media.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-size: 14px;
  color: $gray-color;
  font-family: $font-openSans;

  & a {
    text-decoration: none;
  }
}
