@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$font-raleway: "Raleway", sans-serif;
$font-openSans: "Open Sans", sans-serif;
$navbar-and-email-dark-blue: hsl(217, 28%, 15%);
$main-dark-blue: hsl(218, 28%, 13%);
$footer-dark-blue: hsl(216, 53%, 9%);
$testimonials-dark-blue: hsl(219, 30%, 18%);
$cyan-color: #65e2d9;
$erro-color: hsl(0, 100%, 63%);
$white-color: hsl(0, 0%, 100%);
$blue-color: hsl(198, 60%, 50%);
$gray-color: rgb(200, 200, 200);
